@define-color bg-dark #1C1E26;
@define-color bg-module #232530;
@define-color bg-hover #2E303E;
@define-color text-main #D5D8DA;
@define-color text-muted #6C6F93;
@define-color accent #E95678;
@define-color red #E95678;
