@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font", regular;
  border-radius: 8px;
}

.notification-row {
  background: @bg-dark;
  border-radius: 0;
}


.notification-group-header,
.group-header {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
}

.notification-group {
  margin: 0;
  padding: 0;
  border: none;
}

.notification-group-header,
.group-header {
  display: none;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  background: @bg-dark;
}

.notification,
.notification-content,
.notification-action,
.notification-default-action,
.inline-reply-entry,
.inline-reply-button,
.widget-title,
.widget-title>button,
.widget-label>label {
  border-radius: 8px;
}

.notification {
  background: @bg-dark;
  padding: 0;
  border: 2px solid @accent;
  margin: 3px -2px 3px 0;
}

.close-button {
  background: @red;
  color: @bg-dark;
  text-shadow: none;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0;
  border: none;
}

.notification:hover .close-button {
  opacity: 1;
}

.close-button:hover {
  background: @text-main;
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

.notification-action {
  border: 2px solid @accent;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @accent;
  background: @bg-dark;
}

.inline-reply-entry {
  background: @bg-hover;
  color: @text-main;
  caret-color: @text-main;
  border: 1px solid @accent;
}

.inline-reply-button {
  margin-top: 4px;
  margin-left: 4px;
  background: @bg-module;
  border: 1px solid @accent;
  color: @text-main;
}

.inline-reply-button:disabled {
  background: transparent;
  color: @text-muted;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @bg-hover;
}

.summary {
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  color: @accent;
  text-shadow: none;
}

.body {
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  color: @text-main;
  text-shadow: none;
}

.widget-title {
  color: @accent;
  background: @bg-hover;
  padding: 5px 10px;
  margin: 10px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: 1rem;
  color: @text-main;
  background: @bg-module;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @red;
  color: @bg-dark;
}

.widget-label>label {
  font-size: 1rem;
  color: @text-main;
  margin: 10px;
}

.notification-action>button {
  color: @text-muted;
  background: @bg-module;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.notification-action>button:hover {
  background-color: @accent;
  color: @bg-dark;
}

.control-center scrollbar {
  background: transparent;
  min-width: 1px;
  margin-right: -100px;
}
