@define-color bg-dark #1C1E26;
@define-color bg-module #232530;
@define-color bg-hover #2E303E;
@define-color text-main #D5D8DA;
@define-color text-muted #6C6F93;
@define-color accent #E95678;
@define-color red #E95678;
@define-color green #29D398;
@define-color blue #26BBD9;
@define-color purple #B877DB;
@define-color aqua #59E1E3;
@define-color orange #FAB795;
@define-color lizzy-bg #000000;
@define-color lizzy-text #E95678;
@define-color lizzy-shadow1 #E95678;
@define-color lizzy-shadow2 #FAB795;
